
#googleBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
    margin-top: 5px;
    font-weight: 500;
}



@media only screen and (max-width: 600px){
#logo{
    display: none;
}
}

