/* *{
    margin: 0;
    padding: 0;
} */

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* div {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: teal;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: 4;
    animation-direction: alternate;
} */

/* @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
   */

/* @keyframes animateOne {
    from {
        background-color: red;
        color: lightcoral;
        margin-left: -300px ;
        
    }

    to {
        background-color: yellow;
        margin-top: 100px;
        color: blue;
    }
} */


/* button{
    background: #92B901;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    animation-name: btnAnimate;
    animation-duration: 2s;
}

@keyframes btnAnimate {
    0% {
        background-color: teal;
        transform: rotateZ(20deg);
       
    }

    50%{
        background-color: rgb(105, 42, 187);
        transform: translateX(400px);
       
    }
    100%{
        transform: rotateZ(-180deg);
        background-color: skyblue;
    }
} */


.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div{
    height: 20px;
    width: 20px;
    margin: 5px;
    /* background-color: lightcoral; */
    border-radius: 50%;
}

.one{
    background-color: rgb(236, 139, 13);
    animation-name: animate1;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
.two{
    background-color: rgb(24, 207, 17);
    animation-name: animate2;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
.three{
    background-color: rgb(230, 52, 7);
    animation-name: animate3;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.four{
    background-color: rgb(216, 35, 35);
    animation-name: animate4;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}


@keyframes animate1{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes animate2{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes animate3{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes animate4{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}