*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: rgba(8, 2, 37, 0.897);

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 5px;

}

.logo{
    font-size: 20px;
}
.menu{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

span{
    margin-top: 5px;
}

.contact_btn{
    margin-top: 5px;
}

.btn{
    background-color: rgb(39, 140, 180);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

/* .btn::before{
    content : "\f805";
    width : 25px;
} */
/* unvisited link */
a:link {
    color: rgb(62, 166, 173);
  }
  
  /* visited link */
  a:visited {
    color: rgb(157, 209, 88);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(154, 195, 219);
  }
  
  /* selected link */
  a:active {
    color: orange;
  }
  





















.logo{
    /* background-color: red; */
}

.menu{
    /* background-color: lightblue; */
   
}

.contact_btn{
    /* background-color: lightcoral; */
}